@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
#label-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

h2{
    font-weight: 700;
    text-transform: uppercase;
    color: green;
    font-size: 18px;
    padding: 0.1rem;
}

.label {
    position: relative;
    width: 7.8cm;
    height: 2.3cm;
    margin: 0.5cm; /* Marge autour de chaque étiquette pour l'espacement */
    text-align: center; /* Centre le contenu */
    padding: 0.2rem; 
    border: 2px solid rgb(0, 0, 0);/* Espace à l'intérieur de l'étiquette */
    background-color: rgb(213, 213, 213);
}

.face-a{
    margin-bottom: 0.2rem;
}

.face-b{
    margin-top: 0.2rem;
}
