*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#label-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.label {
    width: 7.8cm;
    height: 2.3cm;
    margin: 0.5cm; /* Marge autour de chaque étiquette pour l'espacement */
    text-align: center; /* Centre le contenu */
    padding: 0.25cm; 
    border: 2px solid rgb(0, 0, 0);/* Espace à l'intérieur de l'étiquette */
}

p{
   position: absolute; 
}